<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>
            Display data from the database
        </h1>
        <% gebruikers.forEach (gebruiker=> { %>
            <li>
                <%= gebruiker.username %>
            </li>
            <li>
            </li>
            <% }); %>


            <!-- <% for(let gebruiker of gebruikers) { %> 
                <div>
                    <h3>User ID: <%= gebruiker._id %>
                    </h3>
                    <p>Name: <%= gebruiker.username %>
                    </p>
                    <p>Email: <%= gebruiker.password %>
                    </p>
                    <form action="/edit/<%= gebruiker._id %>" method="POST">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" value="<%= gebruiker.username %>"><br>
                        <label for="password">password</label>
                        <input type="password" id="password" name="password" value="<%= gebruiker.password %>"><br>
                        <button type="submit">Update</button>
                    </div>
                <hr>
                <% } %>
    </section>
</body>
</html>